*{
    margin: 0px;
    font-family: Lato;

}

header{
    max-width: 1536px;
    background-color:rgba(229, 84, 115, 0.10);;
 }

.div1{
    display:flex;
justify-content: center;
align-items: center;
}

.div2{
      margin: 100px 77px 0px 192px; 
  justify-content: center;
  align-items: center;
}

header h4{
    max-width: 708px;
    color: #272727;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 30px;

}

header p{
    width: 507px;
    height: 90px;
    color: rgba(39, 39, 39, 0.60);
font-size: 15px;
font-weight: 400;
line-height: 30px; /* 166.667% */
margin-bottom: 30px;
}

.btn1{
    display: inline-flex;
padding: 20px 43px;
/* align-items: flex-start; */
gap: 10px;
border-radius: 8px;
background: #E55473;
border:none;
color: #FFF;
font-size: 13px;
font-weight: 700;
line-height: normal;
}

.img1{
    max-width: 508px;
  height: 800px;
  flex-shrink: 0;
  margin-top: 50px;
  margin-right: 192px;
  background-color: url(<path-to-image>) lightgray 50% / cover no-repeat;
}


.ff{
    justify-content: center;
 margin: 142px 530px 38px 530px;

}

.ff h3{
    color: #272727;
text-align: center;
font-size: 30px;
margin-bottom: 10px;
font-weight: 800;
line-height: normal;
}

.ff p{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}

.fcard {
    display: flex;
    justify-content: center;
    margin: 0px 192px;
    gap: 20px;
}

.card{
    width: 371px;
    height: 430px;
    border-radius: 300px 300px 0 0;
    background-color: rgba(167, 33, 98, 0.15);
}

.fcard img {
    width: 240px;
    height: 341px;
    align-items: center;
    margin: 88px 60px 0px 60px;
/* background: url(<path-to-image>) lightgray 50% / cover no-repeat; */
}

.fcard h2 {
    margin-top: 25.6px;
    color: #272727;
text-align: center;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 35px; /* 145.833% */
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: none;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
}


.sec1{
    margin: 102px 192px 0px 192px;
    display: flex;
    justify-content: center;
    /* width: 1440px; */
height: 240px;
flex-shrink: 0;
border-radius: 8px;
background: rgba(39, 39, 39, 0.05);
gap: 80px;
}

.sec1 div{
    margin-top: 68px;

}

.sec1 img {
    width: 70px;
    height: 70px;
    margin-left: 100px;
}

.sec1 p{
    color: rgba(39, 39, 39, 0.80);
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 35px; /* 145.833% */
}

.simg{
    margin-right: 80px;

}

.sign{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    max-width: 1536px;
    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
}

.sign1{
    justify-content: center;
text-align: center;
margin: 111px 148px 0px 130px;

}

.sign1 h3{
    /* margin: 200px 0px 0px 117px; */
    width: 429px;
    margin-left: 20px;

    color: #272727;
font-size: 32px;
font-weight: 800;
line-height: normal;
}

.sign1 p{
    width: 470px;
    color: rgba(39, 39, 39, 0.6);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin-top: 19px;
    margin-bottom: 10px;
}

.offer img{
    margin-top: 80px;
    width: 254px;
    height: 336px;
    flex-shrink: 0;
  
}


.insta{
    text-align: center;
    margin-top: 102px;
    margin-left: 530px;
    margin-right: 530px;
}

.insta h3{
    color: #272727;
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 18px;
}

.insta p{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}

.insta-img{
    display: flex;
    justify-content: center;
    gap: 18px;
    margin-top: 38px; 
    /* width: 273px; */
    height: 300px;
    flex-shrink: 0;
}



.deal {
    margin: 102px 192px;
    width: 1152px;
    height: 359px;
    border-radius: 8px;
    background-image: url("/Asset/Rectangle\ 9.png"); 
  /* background-size: cover;  */
  background-position: center; 
  background-repeat: no-repeat;
    /* background: url(<path-to-image>) lightgray 0px -203.444px / 100% 213.755% no-repeat; */
    text-align: center; 
    /* padding: 40px 20px; */
  }
  
  .deal-div {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* margin: auto; */
    padding: 100px 426px 0px 426px;
    font-size: 20px;
  }
  .deal-div p{
    color: rgba(39, 39, 39, 0.60);
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
  }
  
  .f-div {
    display: flex; 
    margin-left: 230px;
    margin-top: 30px;
    gap: 10px; 
  }
  
  .f-div input {
    width: 500px; 
    height: 40px;
    /* border: 2px solid black; */
    border-radius: 5px;
border: none;  
}

  
/* .img1{
    width: 635px;
height: 800px;
flex-shrink: 0;
padding: 50px 240px 0px 1045px;
} */



/* .sign{
    display: flex;
    justify-content: center;
    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
}

.sign1{
text-align: center;
}

.sign1 h3{
    margin: 200px 0px 0px 117px;
    color: #272727;
font-size: 35px;
font-weight: 800;
line-height: normal;
} */




















/* header{
    display: flex; */
    /* justify-content: center; */
    /* width: 1920px;
    height: 850px; */
    /* flex-shrink: 0; */
    /* background: rgba(229, 84, 115, 0.10);
} */

/* .img1{
    width: 635px;
height: 800px;
flex-shrink: 0;
padding: 50px 240px 0px 1045px;
} */