*{
    margin: 0px;
    font-family: Lato;

}

header{
    max-width: 1536px;
    background-color:rgba(229, 84, 115, 0.10);;
 }

.div1{
    display:flex;
justify-content: center;
align-items: center;
}

.div2{
      margin: 100px 77px 0px 192px; 
  justify-content: center;
  align-items: center;
}

header h4{
    max-width: 708px;
    color: #272727;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 30px;

}

header p{
    width: 507px;
    height: 90px;
    color: rgba(39, 39, 39, 0.60);
font-size: 15px;
font-weight: 400;
line-height: 30px; /* 166.667% */
margin-bottom: 30px;
}

.btn1{
    display: inline-flex;
padding: 20px 43px;
/* align-items: flex-start; */
gap: 10px;
border-radius: 8px;
background: #E55473;
border:none;
color: #FFF;
font-size: 13px;
font-weight: 700;
line-height: normal;
}

.img1{
    max-width: 508px;
  height: 800px;
  flex-shrink: 0;
  margin-top: 50px;
  margin-right: 192px;
  background-color: url(<path-to-image>) lightgray 50% / cover no-repeat;
}


.ff{
    justify-content: center;
 margin: 142px 530px 38px 530px;

}

.ff h3{
    color: #272727;
text-align: center;
font-size: 30px;
margin-bottom: 10px;
font-weight: 800;
line-height: normal;
}

.ff p{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}

.fcard {
    display: flex;
    justify-content: center;
    margin: 0px 192px;
    gap: 20px;
}

.card{
    width: 371px;
    height: 430px;
    border-radius: 300px 300px 0 0;
    background-color: rgba(167, 33, 98, 0.15);
}

.fcard img {
    width: 240px;
    height: 341px;
    align-items: center;
    margin: 88px 60px 0px 60px;
/* background: url(<path-to-image>) lightgray 50% / cover no-repeat; */
}

.fcard h2 {
    margin-top: 25.6px;
    color: #272727;
text-align: center;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 35px; /* 145.833% */
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: none;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
}

/* .img1{
    width: 635px;
height: 800px;
flex-shrink: 0;
padding: 50px 240px 0px 1045px;
} */

























/* header{
    display: flex; */
    /* justify-content: center; */
    /* width: 1920px;
    height: 850px; */
    /* flex-shrink: 0; */
    /* background: rgba(229, 84, 115, 0.10);
} */

/* .img1{
    width: 635px;
height: 800px;
flex-shrink: 0;
padding: 50px 240px 0px 1045px;
} */